.page-container {
    // border: 3px solid green;
    // display: flex;
    // justify-content: center;

    background-color: white;
    margin: auto;
    width: 100%;
    max-width: 500px;
    padding: 1rem;
    min-height: 100%;
    // height: 100%;

    .spinner {
    }
    .name_likes {
        // border: 3px solid lightgreen;
        display: flex;

        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
        .name {
            // align-self: center;
            height: 100%;
            // border: 1px solid blue;
            text-transform: capitalize;
            font-size: 1.3rem;
        }
        .likes_like {
            // border: 1px solid red;
            display: flex;
            *:nth-child(odd) {
                // margin-right: 3rem;
                // border: 3px solid orange;
            }
            .like {
            }
            .likes {
                padding: 0 1rem;
                display: flex;
                align-items: center;
            }
        }
    }
    .spinner-container {
        display: flex;
        justify-content: center;
        align-items: center;

        mat-spinner {
        }
    }
    .img {
        width: 100%;
        margin-bottom: 1rem;
        mat-spinner {
            margin: auto;
        }
        img {
            width: 100%;
            // border: 1px solid orange;
        }
    }
    .object-content {
        // text-align: justify;
        // text-justify: inter-word;
        margin-bottom: 1rem;
        // border: 1px solid green;
    }
    .audio-container {
        display: flex;
        justify-content: center;

        audio {
        }
    }
}
