<div class="page-container">{{(objectService.object$|async).nameNl ? loadingObject() : notLoadingObject()}}

    <div class="name_likes">
        <div class="name">
            <div class="name-nl"
                *ngIf="(uiService.selectedLanguage$|async) === 'nl'"
                [innerHTML]="(objectService.object$|async)?.nameNl">

            </div>
            <div class="name-en"
                *ngIf="(uiService.selectedLanguage$|async) === 'en'"
                [innerHTML]="(objectService.object$|async)?.nameEn">
            </div>
        </div>
        <div class="likes_like">

            <button mat-raised-button
                class="like"
                color="primary"
                [disabled]="!likeButtonDisabled"
                (click)="onLike()">{{likeButtonDisabled ? 'like' : 'liked'}}
            </button>
            <div class="likes">
                {{likes}}
            </div>
        </div>
    </div>

    <!-- <div class="spinner-container"
                *ngIf="uiService.isLoadingImage$|async">
                <mat-spinner></mat-spinner>
            </div> -->
    <div class="img"
        *ngIf="(objectService.object$|async)?.imageUploadData">
        <img [src]="(objectService.object$|async)?.imageUploadData.imageUrl"
            alt=""
            (load)="imageLoad()">
    </div>

    <div class="object-content"
        *ngIf="(uiService.selectedLanguage$|async) === 'nl'"
        [innerHTML]="(objectService.object$|async)?.contentNl">
    </div>
    <div class="object-content"
        *ngIf="(uiService.selectedLanguage$|async) === 'en'"
        [innerHTML]="(objectService.object$|async)?.contentEn">
    </div>

    <div *ngFor="let audioUrlData of audioUrlsData"
        class="audio-container">


        <!-- <div class="player"
            *ngIf="audioUrlData.language === uiService.selectedLanguage$|async">
            <div class="header">{{audioUrlData.language}}</div>
            <audio [src]="audioUrlData.audioUrl"
                controls></audio>
        </div> -->
        <div class="player"
            *ngIf="audioUrlData.language === language">
            <div class="header">{{audioUrlData.language}}</div>
            <audio [src]="audioUrlData.audioUrl"
                controls></audio>
        </div>
    </div>

    <!-- <div *ngIf="(dutchAudioUrl$|async)?.audioUrl && (uiService.selectedLanguage$|async) === 'nl'"
        class="audio-container audio-container-nl">
        <audio controls
            [src]="(dutchAudioUrl$|async)?.audioUrl">
        </audio>
    </div>

    <div *ngIf="(englishAudioUrl$|async)?.audioUrl && (uiService.selectedLanguage$|async) === 'en'"
        class="">
        <audio controls
            [src]="(englishAudioUrl$|async)?.audioUrl">
        </audio>
    </div> -->
</div>
