.page-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    height: 100%;
    .scanner {
        // border: 1px solid blue;
        padding-top: 3rem;
        height: 100%;
        width: 90%;
        ngx-scanner-qr-code {
            // width: 80%;
        }
        .data {
        }
        a {
        }
        .text-light {
        }
        .text-center {
            // display: none;
            .btn {
            }
        }
    }
}
