// h1,
// h5,
// p {
//   word-break: break-all;
//   font-family: "Courier New", Courier, monospace;
// }
// .page-container {
//   // background-color: red;
//   // height: 100vh;
//   // width: 100vw;
// }
// div {
//   button {
//     display: none;
//     border-radius: 50% !important;
//     height: 60px;
//     width: 60px;
//     margin-bottom: 20px;
//     &disabled {
//       cursor: no-drop !important;
//     }
//   }

//   .data {
//     background: antiquewhite;
//     border-radius: 5px;
//   }
// }
.page-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  .scanner {
    padding-top: 3rem;
    height: 60%;
    width: 90%;
    ngx-scanner-qr-code {
      // width: 80%;
    }
    .data {
    }
    a {
    }
    .text-light {
    }
    .text-center {
      // display: none;
      .btn {
      }
    }
  }
}
