<!-- <button mat-raised-button><a routerLink="/admin">admin</a></button> -->
<div class="page-container">
    <div class="admin-header">
        <span>venue&nbsp;</span>{{venue?.nameNl}}
    </div>
    <form [formGroup]="form">
        <mat-form-field>
            <input matInput
                type="text"
                formControlName="nameNl"
                placeholder="name nl"
                maxlength="20">

        </mat-form-field>
        <mat-form-field>
            <input matInput
                type="text"
                formControlName="nameEn"
                placeholder="name en">
        </mat-form-field>
        <mat-form-field>
            <textarea rows="7"
                matInput
                formControlName="contentNl"
                placeholder="content nl">

      </textarea>
        </mat-form-field>
        <mat-form-field>
            <textarea rows="7"
                matInput
                formControlName="contentEn"
                placeholder="content en">
      </textarea>
        </mat-form-field>
    </form>
    <div class="buttons">
        <button class="edit"
            color="primary"
            mat-raised-button
            (click)="onAddVenue()">{{editmode ? 'save edits' : 'add venue'}}
        </button>
        <button class="show"
            mat-raised-button
            color="primary"
            (click)="onObjects()">
            <a>
                show <span class="button-highlight">objects</span> {{venue?.nameNl}}
            </a>
        </button>

        <button color="primary"
            class="back"
            mat-raised-button>
            <a routerLink="/admin">
                back to all
                <span class="button-highlight">venues</span>
            </a>
        </button>
    </div>
</div>
