mat-toolbar {
    display: flex;
    justify-content: center;
    // background-color: red !important;
    .toolbar-content {
        // background-color: orange;
        padding: 0 1rem;
        // border: 1px solid pink;
        width: 100%;
        max-width: 500px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        white-space: pre-wrap !important;
        font-size: 1rem;
        .logo {
            width: 2rem;
            // border: 1px solid white;
            display: flex;
            flex-direction: column;
            align-items: center;
            a {
                img {
                    width: 100%;
                }
            }
        }
        .user {
            // border: 1px solid red;
        }
        .isAdmin {
        }
        .venue-name {
            border: 2px solid white;
            border-radius: 5px;
            cursor: pointer;
            text-transform: uppercase;
            word-wrap: break-word;
        }
    }
}
