<mat-toolbar color="primary">
  <!-- <div class="logo" (click)="onLogo()"> -->
  <div class="logo">
    <a routerLink="mochuco"><img src="./../../../assets/Logo/2021-0705_Mochuco_-_Logo_zwart_wit_1000px.png" alt=""></a>
  </div>
  <div class="version">
    Build-11
  </div>


  <div class="venue-name" (click)="onVenue()" *ngIf="(uiService.selectedLanguage$|async) === 'nl'">{{(objectService.venue$|async)?.nameNl}}</div>
  <div class="venue-name" (click)="onVenue()" *ngIf="(uiService.selectedLanguage$|async) === 'en'">{{(objectService.venue$|async)?.nameEn}}</div>

</mat-toolbar>
