.page-container {
    // border: 3px solid red;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #ccc;
    .header {
        position: fixed;
        height: 60px;
        width: 100vw;
        z-index: 100;

        // max-width: 500px;
    }
    .router-outlet {
        padding-top: 56px;
        padding-bottom: 160px;
        max-height: calc(100vh - 56px);
        // width: 500px;
        // max-width: 500px;
        background-color: white;
        overflow: scroll;
    }

    .footer {
        width: 100%;
        // max-width: 500px;
        position: fixed;
        bottom: 0;
        height: 55px;
        background-color: black;
    }
}
