.page-container {
  padding: 1rem;
  .auth-buttons {
    padding: 1rem 0;
  }
  .venues {
    .header {
      text-transform: uppercase;
      font-size: 1.3rem;
    }
    .venues-list {
      list-style: none;
      padding: 0;
      margin: 0;
      .venue {
        padding: 0.5rem;
        margin: 0.5rem 0;
        border: 1px solid #ccc;
        .delete_edit {
          display: flex;
          justify-content: space-between;
        }
      }
    }
    .cancel_add {
      display: flex;
      justify-content: space-between;
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}
