.page-container {
    background-color: white;
    margin: auto;
    width: 100%;
    max-width: 1000px;
    padding: 1rem;
    @media (min-width: 480px) {
        padding: 3rem;
    }
    .venue-name {
        padding: 0.3rem;
        background-color: #ccc;
        text-transform: uppercase;
    }
    .top {
        // border: 1px solid red;
        width: 100%;
        // display: flex;
        justify-content: space-between;
        @media (min-width: 700px) {
            display: flex;
        }
        .top-left {
            // border: 3px solid red;
            width: 100%;
            form {
                margin: auto;
                width: 100%;

                display: flex;
                flex-direction: column;
                .buttons {
                    display: flex;
                    justify-content: space-between;
                    a {
                        text-decoration: none;
                        color: white;
                    }
                }
            }
        }
        .mat-spinner-container {
            display: flex;
            justify-content: center;
            min-width: 250px;
            margin-top: 3rem;
            .spinner_loading-image {
                mat-spinner {
                    margin-bottom: 1rem;
                }
            }
        }
        .top-right {
            padding: 1rem;
            .file-input {
            }
            .preview {
                // max-width: 1500px;
                margin-bottom: 1rem;
                img {
                    width: 100%;
                }
            }
            .file-input {
                margin-bottom: 1rem;
            }
        }
    }
    .bottom {
        background-color: #ccc;
        padding: 1rem;
        .buttons {
            @media (min-width: 620px) {
                display: flex;
                justify-content: space-between;
            }
            .cancel {
                margin-bottom: 1rem;
                @media (min-width: 620px) {
                    margin-bottom: 0;
                }
            }
            .add {
                // @media (min-width: 620px) {
                //     display: block;
                // }
            }
        }
    }
}

// @media (max-width: 480px) {}

// @media (min-width: 481px) and (max-width: 767px) {}

// @media (min-width: 768px) and (max-width: 1024px) {}

// @media (min-width: 1025px) and (max-width: 1280px) {}

// @media (min-width: 1281px) {}
