.page-container {
    width: 100vw;
    padding: 3rem;
    .venue-name {
        padding: 0.3rem;
        background-color: #ccc;
        text-transform: uppercase;
    }
    .top {
        display: flex;
        justify-content: space-between;
        .top-left {
            // border: 3px solid red;
            width: 100%;
            form {
                margin: auto;
                width: 100%;

                display: flex;
                flex-direction: column;
                .buttons {
                    display: flex;
                    justify-content: space-between;
                    a {
                        text-decoration: none;
                        color: white;
                    }
                }
            }
        }
        .top-right {
            padding: 1rem;
            .file-input {
            }
            .preview {
                // max-width: 1500px;
                margin-bottom: 1rem;
                img {
                    width: 100%;
                }
            }
        }
    }
    .bottom {
        background-color: #ccc;
        padding: 1rem;
        .buttons {
            display: flex;
            justify-content: space-between;
        }
    }
}
