<div class="page-container">
    <div class="audio">

    </div>
    <div *ngIf="venue$|async"
        class="venue-name">
        {{(venue$|async)?.nameNl}}
    </div>
    <div class="top">
        <div class="times-visited">
            <!-- {{objectService.timesVisited$|async}} -->
        </div>
        <div class="top-left">
            <!-- <button mat-raised-button color="primary" (click)="onAdmin()">admin</button> -->
            <form [formGroup]="form">
                <mat-form-field>
                    <input type="text"
                        matInput
                        formControlName="nameNl"
                        placeholder="name nl">
                </mat-form-field>
                <mat-form-field>
                    <textarea rows="10"
                        type="text"
                        matInput
                        formControlName="contentNl"
                        placeholder="content nl"></textarea>
                </mat-form-field>

                <mat-form-field>
                    <input type="text"
                        matInput
                        formControlName="nameEn"
                        placeholder="name en">
                </mat-form-field>
                <mat-form-field>
                    <textarea rows="10"
                        type="text"
                        matInput
                        formControlName="contentEn"
                        placeholder="content en"></textarea>
                </mat-form-field>
            </form>
        </div>
        <div class="mat-spinner-container"
            *ngIf="isStoringImage">
            <div class="spinner_loading-image">
                <mat-spinner></mat-spinner>
                <div class="loading-image">
                    storing image...
                </div>
            </div>
        </div>
        <div class="top-right"
            *ngIf="!isStoringImage">
            <div class="image">
                <div class="header">image</div>
                <div class="preview">
                    <img [src]="imageUrl"
                        alt="">
                </div>
                <input class="image-file-input"
                    #fileInput
                    type="file"
                    (change)="onUploadImage($event)">
                <button class="delete-image"
                    *ngIf="imageUrl"
                    mat-raised-button
                    color="warn"
                    (click)="onDeleteImage()">delete image
                </button>
            </div>
            <app-admin-object-audio [venueId]="venueId"
                [objectId]="objectId"></app-admin-object-audio>
        </div>
    </div>
    <div class="bottom">
        <div class="buttons">
            <button mat-raised-button
                color="primary"
                class="cancel"
                [routerLink]="['/admin/admin-objects', {venueId: venueId}]">
                back to

                <span class="button-highlight">objects</span> {{venue?.nameNl}}
            </button>
            <button mat-raised-button
                [disabled]="isStoringImage || form.invalid"
                class="add"
                color="primary"
                (click)="onAddObject()">{{editmode ? 'save edits' : 'add object'}}</button>
        </div>
    </div>
</div>
