<div class="page-container">
    <div class="spinner-container"
        *ngIf="!(objects$|async)">
        <div class="spinner_text">
            <mat-spinner></mat-spinner>
            <div class="loading-text">Loading objects...</div>
        </div>
    </div>
    <div class="admin-header">objects&nbsp;<span>{{(venue$|async)?.nameNl}}</span></div>
    <div class="objects">
        <app-admin-objects-list-item *ngFor="let object of objects$|async"
            [mochucoObject]="object"
            [venue]="venue">
        </app-admin-objects-list-item>
    </div>
    <div *ngIf="venue"
        class="buttons back_add">
        <div class="div-back"
            color="primary"
            [routerLink]="['/admin/admin-venue', {id: (venue$|async)?.id}]">
            <a>
                back to<span class="button-highlight">&nbsp;venue&nbsp;</span>{{venue.nameNl}}
            </a>
        </div>
        <div class="div-add"
            color="primary"
            (click)="onAddObject()">
            <a>
                add<span class="button-highlight">&nbsp;object&nbsp;</span>to {{venue.nameNl}}
            </a>
        </div>
    </div>
</div>
