<div class="page-container">
  <button class="admin-button" mat-raised-button color="primary"><a routerLink="/admin">admin</a></button>
  <div class="venue-name">objects for: <span>{{(venue$|async)?.nameNl}}</span></div>
  <div class="objects">
    <ul class="objects-list">
      <li class="object" *ngFor="let object of objects$|async">
        <div class="object-property name-nl">
          <div class="property-name">name nl</div>{{object.nameNl}}
        </div>
        <div class="object-property content-nl content">
          <div class="property-name">
            content nl
          </div> {{object.contentNl}}
        </div>
        <div class="object-property name-en">
          <div class="property-name">name en</div> {{object.nameEn}}
        </div>
        <div class="object-property content-en content">
          <div class="property-name">
            content en
          </div> {{object.contentEn}}
        </div>
        <div class="object-property object-url">
          <div class="property-name">
            object url live
          </div>{{object.objectUrl}}
          <div class="create-url">

          </div>
          <div class="qr">
          </div>
        </div>
        <div class="object-property">
          <div class="property-name">
            qr live
          </div>
          <!-- <qr-code [value]="'https://mochuco-a185b.web.app/?objectId=34ZFlRHEYrRSLTSH0xTo&venueId=jz5XychvTXkSYEMekBHg'" [size]="150"></qr-code> -->
          <qr-code [value]="'https://mochuco-a185b.web.app/?objectId='+ object.id +'&venueId=' + venueId" [size]="150"></qr-code>
        </div>
        <div class="object-property object-url-dev">
          <div class="property-name">
            object url local
          </div>{{object.objectUrlDev}}
        </div>
        <div class="object-property">
          <div class="property-name">
            qr dev local
          </div>
          <qr-code [value]="'http://localhost:4200//?objectId='+ object.id +'&venueId=' + venuId" [size]="150"></qr-code>
        </div>
        <div class="buttons delete_edit">
          <button mat-raised-button color="warn" (click)="onDeleteObject(object.id)">delete object</button>
          <button mat-raised-button color="primary" (click)="onEditObject(object.id)">edit object</button>
        </div>
      </li>
    </ul>
    <div class="buttons cancel_add">
      <button mat-raised-button color="primary" (click)="onAddObject()">add object</button>
      <button
        mat-raised-button
        color="primary">
        <a [routerLink]="['/admin/admin-venue', {id: (venue$|async)?.id}]">cancel</a>
      </button>
    </div>
  </div>
</div>
