.page-container {
    background-color: white;
    margin: auto;
    width: 100%;
    max-width: 500px;
    padding: 1rem;
    .spinner-container {
        display: flex;
        justify-content: center;
        .spinner_text {
            display: flex;
            flex-direction: column;
            mat-spinner {
                margin-bottom: 2rem;
            }
        }
    }
    .admin-header {
        text-transform: uppercase;
        background-color: #ccc;
        padding: 0.3rem;
        margin: 1rem 0;
        // font-size: 1.3rem;
    }
    .objects {
    }
    .back_add {
        display: flex;
        justify-content: space-between;
        *:nth-child(odd) {
            margin-right: 0.5rem;
        }
        .back,
        .add {
            margin-right: 1rem;
            a {
                text-decoration: none;
                color: white;
            }
        }
        .div-back,
        .div-add {
            text-transform: uppercase;
            font-weight: 500;
            padding: 0.5rem 0.7rem;
            // margin: 0.3rem;
            background-color: #3f51b5;
            color: white;
            border-radius: 4px;
            cursor: pointer;
            a {
                text-decoration: none;
                color: white;
            }
        }
    }
}
