.page-container {
    padding: 3rem 1rem 1rem 1rem;
    // border: 3px solid red;
    max-width: 500px;
    width: 100vw;
    display: flex;

    form {
        margin: auto;
        justify-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 350px;
        // border: 3px solid green;
    }
}
